@use '../abstracts' as *;

.path-frontpage{

    .bannersection{
        .row{
            margin: 0;
            *{
                padding: 0;
            }
        }
    }


    .whatisadifsection {
        padding: 3em 0;
        background: var(--clr-bg-400);
    }

    .calltoactionsection{
        padding: 3em 0;
        background: var(--clr-bg-400);
    }

    .adifoverview {
        padding: 3em 0;
    }

    .value.preposition.stages{
        padding: 3em 0;
        background: var(--clr-adifdark-100);
    }
}

