@forward 'front.page';
@forward 'event.landing.page';
@forward 'publication.landing.page';
@forward 'stories.node';
@forward 'pre_event_page';
@forward 'videos.node';
@forward 'common.nodes';
@forward 'albums.node';
@forward 'publication.node';
@forward 'sdgs.node';
@forward 'page.blocks';
@forward 'speakers.page';
@forward "about.page";
@forward "menu";
@forward "call-to-action.page";