 @use '../abstracts' as *;

body.node-type--sdg{

    .sdginfosection{
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    .sharethisblock{
        padding: 1.5em 0;
    }

    .sdginforblock{
        padding: 0;
    }

    .sdg-page-info.view-id-sdgs{
            .view-content{
                .views-row{
                    .sdg-full-info-row{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .main-info{
                            display: flex;
                            gap: 2em;
                            .image{
                                width: 100%;
                                flex: 1 1 20%;
                            }

                            .info-detail{
                                
                                flex: 1 1 80%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                .sdgnumber{
                                    font-size: 1.5rem;
                                    font-weight: normal;
                                    color: var(--clr-primary-400);
                                }

                                .title{
                                    @include list-item-title;
                                    font-size: clamp(2.25rem, 5vw, 1.75rem);
                                    line-height: clamp(3rem, 5vw, 2.5rem);
                                    color: var(--bs-heading-color);
                                    text-align: left;
                                }

                                .subtitle{
                                    @include list-item-title;
                                    font-weight: normal;
                                    font-style: italic;
                                    color: var(--clr-secondary-400);
                                }

                                p{
                                    margin: 0;
                                }

                            }
                        }

                        .numbers{
                            
                            display: flex;
                            gap: 2em;

                            .documents,.partnership,.publications,.targets {
                                flex: 1 1 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                justify-content: center;
                                align-items: center;

                                .label{
                                    @include list-item-title;
                                    font-weight: normal;
                                    margin: 0;
                                    
                                }

                                .val{
                                    font-size: 1.5rem;
                                    font-weight: normal;
                                    color: var(--clr-primary-400);
                                }

                            }

                        }

                        .readmore{
                            display: flex;
                            justify-content: start;
                            padding: 1em 0;

                            a{
                                @include read-more-link;
                                color: var(--clr-primary-300);
                            }
                        }
                    }
                }
            }
    }

   
 

}